:root {
  --screenCoeff: calc(1vw + 1vh);
  --bgColor: rgb(20, 20, 20);
  --fontColor: rgb(95, 166, 151);
  --shadowColor: 0 0 0.3em rgb(0, 229, 215);
  --glowColor: rgb(160, 255, 234);
}

.glowing-text {
  /* font-family: "Comforter", cursive; */
  color: var(--fontColor);
  white-space: nowrap;
  overflow: hidden;
  font-size: calc(var(--screenCoeff) * 3);
  text-align: center;
}
